@value breakPoints: "../../styles/breakPoints.scss";
@value mobile from breakPoints;

.wrapper {
  height: 45px;
  position: relative;
  width: 16rem;
  @media mobile {
    height: 100px;
  }
}


.buttonLeft {
  width: 100%;
  position: absolute;
  right: 55%;
  @media mobile {
    right: 50%;
    top: 0%;
    transform: translatex(50%);
  }
}

.buttonRight {
  width: 100%;
  position: absolute;
  left: 55%;
  @media mobile {
    left: 50%;
    bottom: 0%;
    transform: translatex(-50%);
  }
}