@import '../../styles/index.styl'

.note
  font-family Lato
  line-height 20px
  width 250px
  background white
  margin-bottom 30px
  padding 30px 15px 15px 15px
  transition background 300ms ease-in-out
  +tablet()
    width 100%
  &:hover
    .actions__icon
      opacity 1

.actions__icon
  cursor pointer
  color rgba(black, 0.3)
  opacity 0
  transition all 150ms ease-in-out
  &:hover
    color black

.red
  background color__red
.orange
  background color__orange
.yellow
  background color__yellow
.grey
  background color__grey
.blue
  background color__blue
.teal
  background color__teal
.green
  background color__green
.white
  background white
