@value colors "../../styles/colors.styl";
@value flat_wet_asphalt from colors;
@value note_green from colors;
@value note_red from colors;
@value note_yellow from colors;
@value note_blue from colors;
@value note_grey from colors;
@value note_orange from colors;
@value note_teal from colors;

.note
  font-family Rubik
  composes dynamic from 'styles/shadows.styl'
  line-height 20px
  width 250px
  background white
  margin-bottom 30px
  padding 30px 15px 15px 15px
  // transition all 300ms ease-in-out
  +tablet()
    width 50%
  +below(550px)
    width 100%

  &:hover
    .actions__icon
      opacity 1

.actions__icon
  cursor pointer
  color rgba(black, 0.3)
  opacity 0
  transition all 150ms ease-in-out
  &:hover
    color black

.contentEditable
  composes dynamic-input from 'styles/shadows.styl'
  text-align justify
  margin 0 0 10px 0
  padding 5px 10px
  outline none
  border-radius 5px
  cursor pointer
  background rgba(white, 0)
  transition: background 100ms ease-in-out
  &:hover
    background rgba(white, 0.2)
  &:focus
    background rgba(white, 0.3)


.image
  width calc(100% + 30px)
  height auto
  transform: translate(-15px, -30px);

.red
  background note_red
.orange
  background note_orange
.yellow
  background note_yellow
.grey
  background note_grey
.blue
  background note_blue
.teal
  background note_teal
.green
  background note_green
.white
  background white
