@value colors: "../../styles/colors.scss";
@value flat_wet_asphalt, note_green, note_red, note_yellow, note_blue, note_grey, note_orange, note_teal from colors;
@value breakPoints: "../../styles/breakPoints.scss";
@value mobile, extraSmall from breakPoints;

.note {
  font-family: Rubik;
  composes: dynamic from 'styles/shadows.scss';
  line-height: 20px;
  width: 240px;
  background: white;
  margin-top: 12px;
  padding-bottom: 15px;
  &:hover {
    .actions {
      opacity: 1;
    }
    .input::-webkit-input-placeholder {
      color: rgba(black, .4);
    }
  }
  @media mobile {
    width: 180px;
    font-size: .8rem;
  }
  @media extraSmall {
    width: 140px;
    font-size: .8rem;
  }
}

.actions {
  opacity: 0;
  transition: all 150ms ease-in-out;
}

.actionsWrapper {
  @media mobile {
    display: none;
  }

}

.icon {
  cursor: pointer;
  color: rgba(black, 0.3);
  &:hover {
    color: black;
  }
}

.input {
  margin: 15px 0 10px 0;
  padding: 5px 10px;
  min-height: 30px;
  max-height: 240px;
  overflow: hidden;
  color: black;
  display: block;
}

.titleInput {
  composes: input;
  font-weight: bold;
}

.previewWrapper {
  display: flex;
  flex-wrap: row wrap;
}

.image {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;  
}

.tagLink {
  margin: 0 5px 5px 0;
  background: rgba(black, 0.3);
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  color: white;
  font-size: .8em;
}

.red {
  background: note_red;
}

.orange {
  background: note_orange;
}

.yellow {
  background: note_yellow;
}

.grey {
  background: note_grey;
}

.blue {
  background: note_blue;
}

.teal {
  background: note_teal;
}

.green {
  background: note_green;
}

.white {
  background: white;
}