@value colors: "../../../styles/colors.scss";
@value tertiary, secondary, primary from colors;

.textField {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  border: none;
  background: secondary;
  transition: all 150ms ease-in-out;
  &::-webkit-input-placeholder {
    color: white;
  }
  &:focus {
    background: primary;
    &::-webkit-input-placeholder {
      color: secondary;
    }
  }
}

.errorMessage {
  position: absolute;
  color: red;
  margin: 5px 0 0 0;
}

.wrapper {
  position: relative;
}

.topLabel {
  position: absolute;
  bottom: 100%;
  color: tertiary;
  margin: 5px 0 0 0;
}