
.wrapper {
  position: relative;
  width: 100%;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.image {
  cursor: pointer;  
  margin: auto;
  display: block;
  max-height: 600px;;
}

.preview {
  height: 600px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.next {
  composes: preview;
  right: -70%;
}

.previous {
  composes: preview;
  right: 70%;
}
