@value colors "../../../styles/colors.styl";
@value secondary from colors;
@value secondary--light from colors;
@value secondary--dark from colors;

.button
  border none
  width 85px
  height: 45px
  font-size 1rem
  cursor pointer
  transition 300ms ease-in-out

.primary
  composes button
  background secondary
  color white
  &:hover
    background secondary--light
  &:active
    background secondary--dark

.secondary
  composes button
  background transparent
  border 3px solid secondary
  color secondary
  &:hover
    border 3px solid secondary--light
    color secondary--light
  &:active
    border 3px solid secondary--dark
    color secondary--dark
    background transparent
