@import '../../../styles/colors.styl'

.button
  border none
  size 85px 45px
  font-size 1rem
  cursor pointer
  transition 300ms ease-in-out

.primary
  composes button
  // composes primaryColor from 'styles/test.styl'
  background $color__secondary
  color white
  &:hover
    background $color__secondary--light
  &:active
    background $color__secondary--dark

.secondary
  composes button
  background transparent
  border 3px solid $color__secondary
  color $color__secondary
  &:hover
    border 3px solid $color__secondary--light
    color $color__secondary--light
  &:active
    border 3px solid $color__secondary--dark
    color $color__secondary--dark
    background transparent
