@value colors "../../../styles/colors.styl";
@value accent from colors;
@value accent--light from colors;
@value accent--dark from colors;

.button
  border none
  width 85px
  height: 45px
  font-size 1rem
  cursor pointer
  transition 300ms ease-in-out

.primary
  composes button
  background accent
  color white
  &:hover
    background accent--dark

.secondary
  composes button
  background transparent
  border 3px solid accent
  color accent
  &:hover
    background: accent
    color white
