@value colors: "../../../styles/colors.scss";
@value accent, accent--light, accent--dark from colors;

.button {
  border: none;

  font-size: 1rem;
  cursor: pointer;
  transition: 300ms ease-in-out;
  border-radius: 50px;
}


.primary {
  composes: button;
  background: accent;
  color: white;
  &:hover {
    background: accent--dark;
  }
}


.secondary {
  composes: button;
  background: transparent;
  border: 2px solid accent;
  color: accent;
  &:hover {
    background: accent;
    color: white;
  }
}

.normal {
  padding: 0 40px;
  height: 45px;
}

.small {
  padding: 0 10px;
  height: 32px;
}
