@import 'stylesheets/colors.css';
@import 'stylesheets/basic.css';
@import 'stylesheets/normalize.css';

.sideMenu {
	position: fixed;
  top: 55px;
  right: 100%;
	z-index: 1;
	display: none;
	width: 100%;
	height: calc(100vh - 55px);
	background: var(--color__accent);
	text-align: left;
	font-size: 1.8rem;
	transition: all 300ms ease-in-out;
}

.shown {
	position: fixed;
  top: 55px;
  right: 0;
}

.content {
	display: table-cell;
	padding: 0px;
	vertical-align: middle;
}

.item {
	display: block;
	padding: 25px;
	color: white;
	white-space: nowrap;
}

.item:hover {
	background: white;
	color: var(--color__accent);
}

.item:hover .item__link {
	color: var(--color__accent);
}

.item__link {
	color: white;
}

.item__icon {
	margin: 0 40px 0 15px;
	vertical-align: middle;
}
