@value colors "../../../styles/colors.styl";
@value secondary from colors;
@value accent from colors;

.wrapper
  display: none;
  +tablet()
    display: block;

.icon
  display none
  cursor pointer
  +tablet()
    display: block;
    position absolute
    top 50%
    left 30px
    transform: translate(-50%, -50%);

.sideMenu
  position: fixed;
  top 55px
  right 100%
  background secondary
  width 100%
  height calc(100vh - 55px)
  z-index 1
  font-size 1.8rem
  transition all 300ms ease-in-out
  text-align left
  // display table
  display none
  +tablet()
    display table

.shown
  composes sideMenu
  right 0%

.content
  padding: 0px
  width: 500px
  display table-cell
  vertical-align middle

.menuItem
  display block
  padding 25px
  white-space nowrap
  color accent
  &:hover
    background accent
    color secondary
