@import '../../styles/index.styl'

.profile
  height 55px
  position relative
  display flex
  color color__icon
  cursor: pointer;
  &:hover
    color color__accent
    border-bottom: 3px solid color__accent
    .popUpMenu
      display block

.userinfo
  // display: inline-block;
  line-height 55px
  padding-right 10px
  margin 0

.avatar
  // display: inline-block;

  margin: 10px
  // @util circle(35px)
  size 35px 35px
  border-radius 100%
  circle(35px)

.popUpMenu
  display none
  tooltip(white, 10px, top)
  transform translateX(-50%)
  top calc(100% + 10px)
  left 50%
