@import '../../styles/index.styl'

.profile
  composes navBarItem from 'styles/navBarItems.styl'
  height 55px
  position relative
  display flex
  cursor pointer
  &:hover
    .popUpMenu
      display block

.userinfo
  line-height 55px
  padding-right 10px
  margin 0

.avatar
  margin 10px
  circle(35px)
