@value colors: "../../../styles/colors.scss";
@value accent from colors;
@value breakPoints: "../../../styles/breakPoints.scss";
@value mobile from breakPoints;

.logo {
  color: accent;
  font-size: 2rem;
  font-weight: bold;
  font-family: Pacifico;
  @media mobile {
    font-size: 1.25rem;
  }
}

