@value colors: "../../../styles/colors.scss";
@value tertiary from colors;

.card {
  composes: formCard from 'styles/cards.scss';
  margin-top: 50px;
  margin-bottom: 50px;
}

.page:before, .page:after{
    content: ' ';
    display: table;
}
