@import 'stylesheets/colors.css';
@import 'stylesheets/basic.css';
@import 'stylesheets/normalize.css';

.media {
	display: flex;
	align-items: flex-start;
}

.figure {
	margin-right: 1em;
}

.body {
	flex: 1;
}
