.fancyInput {
	margin: 0 0 10px 0;
	text-align: justify;
}

.text {
	margin: 0;
	padding: 5px 10px;
	word-wrap: break-word;
	cursor: pointer;
}

.input {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 5px 10px;
	width: 100%;
	border: none;
	border-radius: 5px;
	background: rgba(255,255,255,0);
	text-align: justify;
	word-wrap: break-word;
	resize: none;
}

.input:focus {
	background: rgba(255,255,255,0.3);
	animation: out 120ms forwards;
}

@keyframes out {
	0% {
		box-shadow: 0 0 0px rgba(0,0,0,0.5);
	}
	50% {
		box-shadow: 0 0 20px rgba(0,0,0,0.15);
	}
	100% {
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
	}
}
