@value breakPoints: "../../styles/breakPoints.scss";
@value mobile, extraSmall from breakPoints;
@value colors: "../../styles/colors.scss";
@value accent, tertiary, flat_wet_asphalt, note_green, note_red, note_yellow, note_blue, note_grey, note_orange, note_teal from colors;

.loginButton {
  margin-left: .25rem;
  @media extraSmall {
    display: none;
  }
}

.tagIndicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: accent;
  position: absolute;
  background: white;
  height: 56px;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media mobile {
    justify-content: center;
    width: 100%;
  }
}

.tagText {
  display: block;
  margin: 0;
  @media mobile {
    font-size: 1rem;
  }
}

.topBar {
  background: white;
  composes: level-1 from 'styles/shadows.scss';
  position: fixed;
  top: 0%;
  width: 100%;
  height: 56px;
  z-index: 2;
  padding: 0 4rem;
  @media mobile {
    padding: 0 .75rem;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconWrapper {
  color: accent;
  border: 2px solid accent;
  width: 32px;
  height: 32px;
  display: block;
  line-height: 32px;
  border-radius: 50%;
  margin-right: 0.125rem;
  position: relative;
  transition: 150ms ease-in-out;
  text-align: center;
  &:hover {
    color: white;
    background: accent;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  margin: 0px;
  line-height: 32px;
}
