@value breakPoints: "../../styles/breakPoints.scss";
@value mobile from breakPoints;

.topBar {
  background: white;
  composes: level-1 from 'styles/shadows.scss';
  padding: 0 10%;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 56px;
  z-index: 2;
  @media mobile {
    padding: 0 5%;
  }
}

