.topBar {
	position: fixed;
	z-index: 2;
	padding: 0 5%;
	size: 100% 55px;
	background: white;
}

.logo {
	display: block;
	color: var(--color__accent);
	composes: logo from '../../stylesheets/typography.css';
}
