@value breakPoints: "../../styles/breakPoints.scss";
@value mobile from breakPoints;

.button {
  margin: 0 .125rem;
}

.topBar {
  background: white;
  composes: level-1 from 'styles/shadows.scss';
  position: fixed;
  top: 0%;
  width: 100%;
  height: 56px;
  z-index: 2;
  padding: 0 4rem;
  @media mobile {
    padding: 0 .75rem;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

