@import '../../../styles/index.styl'

.textField
  size 100% 45px
  margin-bottom 30px
  padding 0 15px
  border none 3px solid color__primary--dark
  background color__primary--light
  transition all 300ms ease-in-out
  &:focus
    background white
    border none 3px solid black
