
.changablePic {
	position: relative;
	margin: auto;
  width: 220px;
  height: 220px;
  border-radius: 50%;
	background-size: cover;
}

.changablePic:hover .icon {
	color: rgba(255,255,255,0.4);
}

.uploader {
	display: none !important;
}

.icon {
	position: absolute;
  top: 65%;
  left: 50%;
	margin: auto;
	color: rgba(255,255,255,0);
	cursor: pointer;
	transition: all 100ms ease-in-out;
	transform: translate(-50%, -50%);
}

.icon:hover {
	color: rgba(255,255,255,1);
}
