
.wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 2;
  background: rgba(black, 0.6);
  overflow-y: auto;
}

.content {
  composes: formCard from 'styles/cards.scss';

}

.icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}
