.creation-form__wrapper
  width 400px
  text-align center
  margin 85px auto 30px auto
  +tablet()
    width 530px
  +mobile()
    width: 100%

.creation-form
  transition background 150ms ease-in-out
  &--unfolded
    .creation-from__title
      display: block
    .creation-from__submition
      display: flex

.creation-from__field
  line-height 30px
  background transparent
  width 100%
  border none
  font-size 1.3rem
  padding 15px
  word-wrap break-word
  resize none
  overflow hidden

.creation-from__title
  display: none

.creation-from__content
  display block

.creation-from__submition
  z-index 0
  display none
  justify-content space-between
  background transparent
  line-height 30px
  transition all 150ms ease-in-out

.creation-from__attachments
  width 50%
  &:hover
    .creation-from__attachments__icon
      opacity 1

.creation-from__attachments__icon
  cursor pointer
  color rgba(black, 0.3)
  opacity 0
  transition all 150ms ease-in-out
  &:hover
    color black

.red
  background $red
.orange
  background $orange
.yellow
  background $yellow
.grey
  background $grey
.blue
  background $blue
.teal
  background $teal
.green
  background $green
.white
  background white
