@value colors "../../styles/colors.styl";
@value flat_wet_asphalt from colors;
@value note_green from colors;
@value note_red from colors;
@value note_yellow from colors;
@value note_blue from colors;
@value note_grey from colors;
@value note_orange from colors;
@value note_teal from colors;

.wrapper
  width 400px
  text-align center
  margin 85px auto 30px auto
  +tablet()
    width 75%
  +mobile()
    width: 100%

.form
  composes level-1 from 'styles/shadows.styl'
  lost-utility: clearfix;
  background white
  transition background 150ms ease-in-out

.unfolded
  composes form
  .title
    display block
  .tagArea
    display block
  .submition
    display block
  .button
    display block

.field
  line-height 30px
  background transparent
  width 100%
  border none
  font-size 1.3rem
  padding 15px
  word-wrap break-word
  resize none
  overflow hidden

.title
  composes field
  display none

.body
  composes field
  display block

.tagArea
  display none

.submition
  z-index 0
  width: 50%
  display none
  float left
  justify-content space-between
  background transparent
  line-height 30px
  transition all 150ms ease-in-out

.attachments
  width 100%
  &:hover
    .attachments__icon
      opacity 1

.attachments__icon
  cursor pointer
  color rgba(black, 0.3)
  // opacity 0
  transition all 150ms ease-in-out
  &:hover
    color black

.button
  display none
  float right

.red
  background note_red
.orange
  background note_orange
.yellow
  background note_yellow
.grey
  background note_grey
.blue
  background note_blue
.teal
  background note_teal
.green
  background note_green
.white
  background white
