@value breakPoints: "../../styles/breakPoints.scss";
@value colors: "../../styles/colors.scss";
@value mobile from breakPoints;
@value accent, flat_wet_asphalt, note_green, note_red, note_yellow, note_blue, note_grey, note_orange, note_teal from colors;

.wrapper {
  width: 400px;
  margin: 0 auto 2.75rem auto;
  @media mobile {
    display: none;
  }
}

.expandedFormTrigger {
  display: none;
  @media mobile {
    composes: level-3 from 'styles/shadows.scss';
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: fixed;
    background: accent;
    z-index: 2;
    bottom: 20px;
    right: 20px;
    color: white;
    i {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.form {
  composes: level-1 from 'styles/shadows.scss';  
  lost-utility: clearfix;
  transition: background 150ms ease-in-out;
}

.unfolded {
  composes: form;
  .title {
    display: block;
  }
  .tagArea {
    display: block;
  }
  .submition {
    display: block;
  }
}

.field {
  line-height: 30px;
  width: 100%;
  border: none;
  font-size: 1.3rem;
  padding: 15px;
  word-wrap: break-word;
  resize: none;
  overflow: hidden;
  background: transparent;
  &::-webkit-input-placeholder {
    color: rgba(black, .3);
  }

}

.title {
  composes: field;
  font-weight: bold;
  display: none;
}

.body {
  composes: field;
}

.tagArea {
  display: none;
  padding: 0 1.5em;
}

.submition {
  display: none; 
}

.noteActions {
  display: none;
  line-height: 30px;
  margin-bottom: 20px;
}

.red {
  background: note_red;
}

.orange {
  background: note_orange;
}

.yellow {
  background: note_yellow;
}

.grey {
  background: note_grey;
}

.blue {
  background: note_blue;
}

.teal {
  background: note_teal;
}

.green {
  background: note_green;
}

.white {
  background: white;
}
