@import '../../../styles/colors.styl'

.item
  color $color__icon
  text-align center
  min-width 55px
  display block
  height 55px
  line-height 55px
  padding-left: 10px
  padding-right: 10px
  &:hover
    color $color__accent
    border-bottom: 3px solid $color__accent
    .icon
      color $color__accent

.nav-bar__hamburger-button
  cursor pointer
  display none

.icon
  vertical-align middle
  margin 10px
  font-size 24px
  color $icon_color
