@value colors "../../../styles/colors.styl";
@value secondary from colors;
@value tertiary from colors;

.link
  color secondary
  text-align center
  transition: color 150ms ease-in-out
  font-weight: bold;
  &:hover
    color tertiary

.active
  composes link
  color tertiary

.icon
  vertical-align middle
  padding: 0
  font-size: 30px

.text
  margin 0 .4em
  vertical-align middle
  +tablet()
    display: none;

.content
  margin 0 .4rem
