@import 'stylesheets/colors.css';
@import 'stylesheets/basic.css';
@import 'stylesheets/normalize.css';

.item {
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	min-width: 55px;
	height: 55px;
	color: var(--color__icon);
	text-align: center;
	line-height: 55px;
}

.item:hover {
	border-bottom: 3px solid var(--color__accent);
	color: var(--color__accent);
}

.item:hover .icon {
	color: var(--color__accent);
}

.hamburgerButton {
	display: none;
	cursor: pointer;
}

.icon {
	margin: 10px;
	color: $icon_color;
	vertical-align: middle;
	font-size: 24px;
}
