@value colors: "../../../styles/colors.scss";
@value secondary, tertiary from colors;

@value breakPoints: "../../../styles/breakPoints.scss";
@value mobile from breakPoints;

.link {
  color: secondary;
  text-align: center;
  // transition: color 150ms ease-in-out;
  font-weight: bold;
  &:hover {
    color: tertiary;
  }
}

.active {
  composes: link;
  color: tertiary;
}

.icon {
  vertical-align: middle;
  padding: 0;
}

.text {
  margin: 0 .4em;
  vertical-align: middle;
  @media mobile {
    display: none;
  }
}

.content {
  margin: 0 .4rem;
}
