@value colors: "./colors.scss";
@value secondary from colors;

.signForm {
  background: white;
  margin: auto;
  width: 800px;
  padding: 80px 180px;
  composes: level-1 from './shadows.scss';
}

.infoCard {
  background: white;
  margin: auto;
  width: 800px;
  padding: 50px 180px;
  composes: level-1 from './shadows.scss';
}