@value colors "./colors.styl";
@value secondary from colors;

.signForm {
  background: white;
  margin: auto;
  width: 800px;
  padding: 80px 180px;
  composes: level-1 from './shadows.styl';
}

.inofCard {
  background: white;
  margin: auto;
  width: 800px;
  padding: 50px 180px;
  composes: level-1 from './shadows.styl';
}
