.formCard {
  background: white;
  margin: auto;
  width: 800px;
  padding: 50px 200px;
  composes: level-1 from './shadows.scss';
}

.infoCard {
  background: white;
  margin: auto;
  width: 800px;
  padding: 50px 180px;
  composes: level-1 from './shadows.scss';
}