circle($size)
  width $size
  height $size
  border-radius 50%

abs-center()
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

abs-center-margin($px)
  position absolute
  top 50%
  left 50%
  transform translateX(-50%)
  margin-top -1*$px

flex-space($space)
  display flex
  align-items: center
  if $space == around
    justify-content space-around
  else if $space == between
    justify-content space-between

flex-center()
  display flex
  align-items center
  justify-content center

// background($file, $degree = 0)
//   background-image: linear-gradient(rgba(black, $degree), rgba(black, $degree)), url("../img/" + $file)
//   background-repeat no-repeat
//   background-size cover

tooltip($color, $border, $direction)
  position absolute
  text-align center
  background $color
  &::after, ::before
    content ""
    border $border solid
    border-color transparent transparent $color transparent
    position absolute
    if $direction == top
      bottom 100%
      left 50%
      transform: translateX(-50%)
      border-color: transparent transparent $color transparent
    else if $direction == right
      top 50%
      right 100%
      transform: translateY(-50%)
      border-color: transparent $color transparent transparent
    else if $direction == left
      top 50%
      left 100%
      transform: translateY(-50%)
      border-color: transparent transparent transparent $color
    else if $direction == bottom
      top 100%
      left 50%
      transform translateX(-50%)
      border-color $color transparent transparent transparent
  // &::after
  //   fancy-shadow()
  //   transform rotate(45deg)
  //   top -6px
  //   left 5px
