body {
  font-family: Raleway; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

input, button, textarea {
  outline: none; }

* {
  box-sizing: border-box; }
._2SzGh {
  padding: .5px; }
._1BbZq {
  box-shadow: 0px 9px 60px -4px rgba(0, 0, 0, 0.5);
}

.EJX8_ {
  box-shadow: 0px 6px 40px -4px rgba(0, 0, 0, 0.5);
}

._1ps5G {
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.5);
}

.sJpKM {
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.5);
  transition: box-shadow 300ms ease-in-out;
}

.sJpKM:hover {
  box-shadow: 0px 6px 40px -4px rgba(0, 0, 0, 0.5);
}


.KK9Ed {
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.0);
  transition: box-shadow 100ms ease-in-out;
}

.KK9Ed:focus {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}._3Nzfu {
  width: 400px;
  margin: 85px auto 30px auto; }
  @media (max-width: 599px) {
    ._3Nzfu {
      width: 100%; } }

._1YiGv {
  transition: background 150ms ease-in-out; }

._1YiGv:before {
  content: '';
  display: table;
}

._1YiGv:after {
  content: '';
  display: table;
  clear: both;
}

._2DXF- { }
  ._2DXF- .fZvht {
    display: block; }
  ._2DXF- ._14nD5 {
    display: block; }
  ._2DXF- .dKtRf {
    display: block; }
  ._2DXF- ._2R5lu {
    display: block; }

._1PVHO {
  line-height: 30px;
  width: 100%;
  border: none;
  font-size: 1.3rem;
  padding: 15px;
  word-wrap: break-word;
  resize: none;
  overflow: hidden;
  background: transparent; }
  ._1PVHO::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3); }

.fZvht {
  font-weight: bold;
  display: none; }

._3F7DY { }

._14nD5 {
  display: none; }

.dKtRf {
  z-index: 0;
  width: 50%;
  display: none;
  float: left;
  justify-content: space-between;
  background: transparent;
  line-height: 30px;
  transition: all 150ms ease-in-out; }

._2R5lu {
  display: none;
  float: right; }

.YbpDC {
  background: #e57373; }

._1DHz- {
  background: #FF8A65; }

._2AouB {
  background: #FFD54F; }

._2Pu5G {
  background: #90A4AE; }

._1Vutm {
  background: #4FC3F7; }

._2KBuo {
  background: #4DB6AC; }

.T9Mvn {
  background: #81C784; }

._10qtD {
  background: white; }
._3LjP6 {
  position: relative; }
  ._3LjP6:hover .mScK5 {
    display: block; }

.kR4ob {
  width: 150px;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex; }

._1yghL {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: 4px 4px;
  cursor: pointer; }
  ._1yghL:first-child {
    border-color: grey; }
  ._1yghL:hover {
    border: 2px solid #34495e; }

._2skSn {
  border: 2px solid black; }

._3SJ0s {
  background: #e57373; }

._3GSfQ {
  background: #FF8A65; }

.QP6PB {
  background: #FFD54F; }

.oD1s0 {
  background: #90A4AE; }

._3jxMI {
  background: #4FC3F7; }

._3iBzS {
  background: #4DB6AC; }

._33LUn {
  background: #81C784; }

._1PvoN {
  background: white; }
._1ntr7 {
  display: none;
  color: black;
  z-index: 2;
  position: absolute;
  text-align: center;
  background: white; }
  ._1ntr7::after, ._1ntr7 ::before {
    content: "";
    border: 10px solid;
    position: absolute; }

._2QtGy {
  transform: translateX(-50%);
  top: calc(100% + 10px);
  left: 50%; }
  ._2QtGy::after, ._2QtGy ::before {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent white transparent; }

._3eSgx {
  transform: translateX(-50%);
  bottom: calc(100% + 10px);
  left: 50%; }
  ._3eSgx::after, ._3eSgx ::before {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-color: white transparent transparent transparent; }

.ghM52 {
  transform: translateY(-50%);
  left: calc(100% + 10px);
  top: 50%; }
  .ghM52::after, .ghM52 ::before {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-color: transparent white transparent transparent; }

._2UZJ2 {
  transform: translateY(-50%);
  right: calc(100% + 10px);
  top: 50%; }
  ._2UZJ2::after, ._2UZJ2 ::before {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-color: transparent transparent transparent white; }
._23IL4 {
  vertical-align: middle; }
._2Gk_d {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);
  transition: all 150ms ease-in-out; }
  ._2Gk_d:hover {
    color: black; }
._3NVuk {
  margin-bottom: 10px;
  padding-top: 5px;
  text-align: left;
  font-size: 0.8rem; }
  ._3NVuk:hover ._1VX0P {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1); }
    ._3NVuk:hover ._1VX0P::after {
      content: "add tag";
      color: white; }

._2xZUW {
  position: relative;
  margin: 0 5px 5px 0;
  display: inline-block; }

._1VX0P {
  padding: 5px;
  width: 10px;
  min-width: 60px;
  outline: none;
  background: transparent; }
  ._1VX0P:focus + .xTID- {
    display: block; }
  ._1VX0P:focus::after {
    display: none; }

._1l2pg {
  display: block;
  min-width: 75px;
  text-align: center;
  padding: 10px 0;
  cursor: pointer; }
  ._1l2pg:hover {
    border-left: 3px solid #26A69A;
    border-right: 3px solid #26A69A;
    color: #26A69A; }
._2Lpgc {
  margin: 0 5px 5px 0;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 5px 23px 5px 5px; }
  ._2Lpgc:hover ._2Tshf {
    opacity: 1; }

._3BJ25 {
  color: white; }

._2Tshf {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: all 300ms ease-in-out; }
  ._2Tshf:hover {
    color: white; }
._1O1uA {
  border: none;
  width: 85px;
  height: 45px;
  font-size: 1rem;
  cursor: pointer;
  transition: 300ms ease-in-out; }

._3QLI9 {
  background: #26A69A;
  color: white; }
  ._3QLI9:hover {
    background: rgb(32, 141, 131); }

._26O0b {
  background: transparent;
  border: 3px solid #26A69A;
  color: #26A69A; }
  ._26O0b:hover {
    background: #26A69A;
    color: white; }
._24sGd {
  position: relative; }
  ._24sGd:hover > ._1u-Mv {
    display: block; }

._1u-Mv {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 5%; }
  ._1u-Mv:hover {
    color: white; }

._37OwW {
  display: block;
  width: 100%; }
._1B5Ar {
  font-family: Rubik;
  line-height: 20px;
  width: 250px;
  background: white;
  margin-bottom: 30px;
  padding: 30px 15px 15px 15px; }
  ._1B5Ar:hover ._3c2sT {
    opacity: 1; }
  @media (max-width: 599px) {
    ._1B5Ar {
      width: 100%; } }

._3c2sT {
  opacity: 0;
  transition: all 150ms ease-in-out; }

.COyaY {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3); }
  .COyaY:hover {
    color: black; }

._3kjIC {
  text-align: justify;
  margin: 0 0 10px 0;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  transition: background 100ms ease-in-out;
  border: 1px solid transparent;
  resize: none;
  overflow: hidden;
  width: 100%; }
  ._3kjIC:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1); }
  ._3kjIC:focus {
    background: rgba(255, 255, 255, 0.3);
    cursor: auto; }

.kGGC4 {
  font-weight: bold; }

._2Nv9x {
  width: calc(100% + 30px);
  height: auto;
  transform: translate(-15px, -30px); }

._1-KmT {
  background: #e57373; }

.KaKN1 {
  background: #FF8A65; }

._10j9D {
  background: #FFD54F; }

._32Ag8 {
  background: #90A4AE; }

._2rDhy {
  background: #4FC3F7; }

._38sTH {
  background: #4DB6AC; }

._29jo- {
  background: #81C784; }

.HXYV_ {
  background: white; }
._3eWI2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

._38LRt {
  color: #26A69A;
  text-align: center; }

.SDaBQ {
  background-color: undefined;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative; }
  .SDaBQ:before, .SDaBQ:after {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    content: '';
    display: block; }

._3AD57 { }
  ._3AD57:after {
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid transparent;
    border-top-color: #26A69A;
    border-bottom-color: #26A69A;
    animation: _3AD57 1s linear infinite; }

@keyframes _3AD57 {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(180deg) scale(1.5); }
  100% {
    transform: rotate(360deg) scale(1); } }

.B5ydY {
  animation: _3-g1Q 2s linear infinite; }
  .B5ydY:before, .B5ydY:after {
    height: 20px;
    width: 20px;
    background: #26A69A;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px; }
  .B5ydY:after {
    top: auto;
    bottom: -10px;
    animation: B5ydY 0.5s ease-in-out infinite; }

@keyframes _3-g1Q {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes B5ydY {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(30px); } }

._1CoVh {
  background: none;
  border: 4px solid #eee; }
  ._1CoVh::after {
    width: 4px;
    height: 66px;
    background: #26A69A;
    border-radius: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2px;
    animation: _3-g1Q 2s linear infinite;
    transform-origin: top center; }

@keyframes _3-g1Q {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

._3sh-C { }
  ._3sh-C:before, ._3sh-C:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background: #26A69A; }
  ._3sh-C:before {
    animation: _3sh-C .5s linear infinite; }
  ._3sh-C:after {
    opacity: 0;
    animation: _3sh-C .25s linear .62s infinite; }

@keyframes _3sh-C {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1.3);
    opacity: 0; } }

._3-aGW {
  background: transparent; }
  ._3-aGW ._2znNc {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #26A69A;
    position: absolute;
    top: 50%; }
    ._3-aGW ._2znNc:nth-child(1) {
      transform: translateX(-50%);
      animation: _65OIw .3s ease-in-out infinite; }
    ._3-aGW ._2znNc:nth-child(2) {
      left: 50%;
      transform: translateX(-50%);
      animation: _65OIw .3s ease-in-out 0.1s infinite; }
    ._3-aGW ._2znNc:nth-child(3) {
      left: 100%;
      transform: translateX(-50%);
      animation: _65OIw .3s ease-in-out 0.2s infinite; }

@keyframes _65OIw {
  0% {
    top: 0%; }
  50% {
    top: 50%; }
  100% {
    top: 0%; } }
.OZ_3i {
  background: white;
  margin: auto;
  width: 800px;
  padding: 80px 180px;
}

._3zfTN {
  background: white;
  margin: auto;
  width: 800px;
  padding: 50px 180px;
}._29ba6 {
  padding: 80px;
  margin-top: 50px;
  margin-bottom: 50px; }

._3lsGW {
  margin: 30px;
  width: 100px; }
._28RO- {
  margin-top: 150px;
  margin-bottom: 50px;
  background: rgba(255, 255, 255, 0.6); }

._2L85y {
  text-align: center;
  color: #37474F;
  font-weight: lighter;
  margin: 0 0 60px 0; }

._2B188 {
  background-image: url("/robot.gif");
  background-size: cover;
  height: calc(100vh - 55px);
  background-position: center; }
._2Nq2i {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  border: none;
  background: #B0BEC5;
  transition: all 150ms ease-in-out; }
  ._2Nq2i::-webkit-input-placeholder {
    color: white; }
  ._2Nq2i:focus {
    background: #ECEFF1; }
    ._2Nq2i:focus::-webkit-input-placeholder {
      color: #B0BEC5; }

._1s9pu {
  position: absolute;
  color: red;
  margin: 5px 0 0 0; }

._3X-Sp {
  position: relative; }

._2ACS1 {
  position: absolute;
  bottom: 100%;
  color: #37474F;
  margin: 5px 0 0 0; }
.QJqBT {
  margin-bottom: 45px; }
.wGoB- {
  margin-top: 50px;
  margin-bottom: 50px; }

._3dIYR {
  text-align: center;
  color: #37474F;
  font-weight: lighter;
  margin: 0 0 60px 0; }
._1r3su {
  cursor: pointer;
  width: 150px;
  height: 180px;
  text-align: center;
  position: relative;
  color: grey;
  background: #B0BEC5;
  display: block;
  margin: auto; }

._1ADUl {
  text-align: center;
  color: #37474F; }

._2ptTn {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center; }

._3S-T4 {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 5%; }
  ._3S-T4:hover {
    color: white; }

._3JCET {
  background: #26A69A;
  height: 45px;
  line-height: 45px;
  color: white; }
._3THsr {
  margin-bottom: 45px; }
._15Pmi {
  margin-top: 50px;
  margin-bottom: 50px; }

._2Griv {
  text-align: center;
  color: #37474F;
  font-weight: lighter;
  margin: 0 0 60px 0; }
.x05I6 {
  margin-bottom: 45px; }
._5XpUO {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.LcOWq {
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%; }
._2tsMS {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px; }

._32Yf8 {
  display: block; }
.artoN {
  background: white; }

._3xMrv {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 2rem; }

.eRMgs {
  font-size: 90px; }
._3sLe7 {
  background: #ECEFF1; }

.J9UpY {
  padding-top: 55px;
  min-height: 100vh; }
._7Vu7O {
  background: white;
  padding: 0 10%;
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 2; }
  @media (max-width: 599px) {
    ._7Vu7O {
      padding: 0 5%; } }
._1OI68 {
  color: #B0BEC5;
  text-align: center;
  transition: color 150ms ease-in-out;
  font-weight: bold; }
  ._1OI68:hover {
    color: #37474F; }

._2NlOg {
  color: #37474F; }

._39l-R {
  vertical-align: middle;
  padding: 0; }

._1dJUc {
  margin: 0 .4em;
  vertical-align: middle; }
  @media (max-width: 599px) {
    ._1dJUc {
      display: none; } }

.vCCJC {
  margin: 0 .4rem; }
._2M0Oe {
  color: #26A69A;
  font-size: 2rem;
  font-weight: bold;
  font-family: Raleway; }
  @media (max-width: 599px) {
    ._2M0Oe {
      font-size: 1.25rem; } }
._1qanV {
  position: relative;
  margin: 0 .4rem;
  cursor: pointer; }

._3AN4p {
  text-align: left;
  border-bottom: 1px solid #ECEFF1; }

.cvqmV {
  margin: 0;
  color: #B0BEC5;
  display: block;
  padding: 20px;
  transition: color 150ms ease-in-out;
  font-size: .9rem; }
  .cvqmV:hover {
    color: black; }
  @media (max-width: 599px) {
    .cvqmV {
      padding: 40px 20px; } }

._314Nh {
  display: block;
  color: black;
  margin-bottom: 10px; }
  @media (max-width: 599px) {
    ._314Nh {
      margin-bottom: 30px; } }

._2Cex0 {
  height: 30px;
  width: 30px;
  border-radius: 50%; }

.HbnQB {
  width: 200px;
  display: block; }
  @media (max-width: 599px) {
    .HbnQB {
      box-shadow: none;
      position: fixed;
      width: 100%;
      top: 55px; } }

/*# sourceMappingURL=style.css.map*/