.card {
  composes: infoCard from 'styles/cards.scss';
  padding: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
//   display: flex;
//   justify-content: space-around;
}

.icon {
  margin: 30px;
  width: 100px;
}