@value colors "../../styles/colors.styl";
@value tertiary from colors;

.card
  composes signForm from 'styles/cards.styl'
  margin-top: 100px
  margin-bottom: 50px

.heading
  text-align: center;
  color: tertiary
  font-weight: lighter;
  margin: 0 0 60px 0
