@import 'flat-colors'
$color__primary= #e1e8f0
$color__primary--light = lighten($color__primary, 20%)
$color__primary--dark = darken($color__primary, 20%)

$color__secondary= #9068be
$color__secondary--light = lighten($color__secondary, 20%)
$color__secondary--dark = darken($color__secondary, 20%)

$color__accent = #21A8A3
$color__accent--light = lighten($color__accent, 20%)
$color__accent--dark = darken($color__accent, 20%)

$color__bg = #dcdede
$color__icon = darken($color__bg, 70%)

$color__bg--dark = darken($color__bg, 25%)


$red = #e57373
$orange = #FF8A65
$yellow = #FFD54F
$grey = #90A4AE
$blue = #4FC3F7
$teal = #4DB6AC
$green = #81C784
