@value breakPoints: "../../styles/breakPoints.scss";
@value mobile from breakPoints;

.card {
  composes: infoCard from 'styles/cards.scss';
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.field {
  display: block;
  @media mobile {
    font-size: .8rem;
  }
}
