@value colors: "../../../styles/colors.scss";
@value tertiary from colors;
@value breakPoints: "../../../styles/breakPoints.scss";
@value mobile from breakPoints;

.heading {
  text-align: center;
  color: tertiary;
  font-weight: lighter;
  @media mobile {
    font-size: 1.5rem;
  }
}