color__primary = #e1e8f0
color__primary--light = lighten(color__primary, 20%)
color__primary--dark = darken(color__primary, 20%)

color__secondary = #9068be
color__secondary--light = lighten(color__secondary, 20%)
color__secondary--dark = darken(color__secondary, 20%)

color__accent = #21A8A3
color__accent--light = lighten(color__accent, 20%)
color__accent--dark = darken(color__accent, 20%)

color__bg = #dcdede
color__icon = darken(color__bg, 70%)

color__bg--dark = darken(color__bg, 25%)

color__red = #e57373
color__orange = #FF8A65
color__yellow = #FFD54F
color__grey = #90A4AE
color__blue = #4FC3F7
color__teal = #4DB6AC
color__green = #81C784

flat_turquoise = #1abc9c
flat_emerald = #2ecc71
flat_peter_river = #3a9bdc
flat_amethyst = #9b59b6
flat_wet_asphalt = #34495e
flat_green_sea = #16a085
flat_nephrist = #27ae60
flat_belize_hole = #2980b9
flat_wisteria = #8e44ad
flat_midnight_blue = #2c3e50
flat_sun_flower = #f1c40f
flat_carrot = #e67e22
flat_alizarin = #e74c3c
flat_clouds = #ecf0f1
flat_concrete = #95a5a6
flat_orange = #f39c12
flat_pumpkin = #d35400
flat_pomegranate = #c0392b
flat_silver = #bdc3c7
flat_asbestos = #7f8c8d
