
@import "../../styles/mixins.styl"
@value colors "../../styles/colors.styl";
@value flat_wet_asphalt from colors;
@value note_green from colors;
@value note_red from colors;
@value note_yellow from colors;
@value note_blue from colors;
@value note_grey from colors;
@value note_orange from colors;
@value note_teal from colors;

.colorMenu
  position relative
  &:hover
    .popupMenu
      display block

.palette
  size 150px auto
  flex-wrap wrap
  justify-content space-around
  display flex

.circle
  circle(28px)
  margin 4px 4px
  transition all 300ms ease-in-out
  cursor pointer
  &:first-child
    border grey
  &:hover
    border 2px solid flat_wet_asphalt

.chosen
  composes: circle
  border 2px solid black

.popupMenu
  display none
  tooltip(white, 10px, bottom)
  transform translateX(-50%)
  bottom calc(100% + 10px)
  left 50%

.red
  composes circle
  background note_red
.orange
  composes circle
  background note_orange
.yellow
  composes circle
  background note_yellow
.grey
  composes circle
  background note_grey
.blue
  composes circle
  background note_blue
.teal
  composes circle
  background note_teal
.green
  composes circle
  background note_green
.white
  composes circle
  background white
