@value colors: "../../styles/colors.scss";
@value flat_wet_asphalt, note_green, note_red, note_yellow, note_blue, note_grey, note_orange, note_teal from colors;

.colorMenu {
  position: relative;
  transform: translateX(25%);
  &:hover .popupMenu {
    display: block;
  }
}

.palette {
  width: 150px;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}

.circle {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: 4px 4px;
  cursor: pointer;
  &:first-child {
    border-color: grey;
  }
  &:hover {
    border: 2px solid flat_wet_asphalt;
  }
}

.chosen {
  composes: circle;
  border: 2px solid black;
}

.red {
  composes: circle;
  background: note_red;
}

.orange {
  composes: circle;
  background: note_orange;
}

.yellow {
  composes: circle;
  background: note_yellow;
}

.grey {
  composes: circle;
  background: note_grey;
}

.blue {
  composes: circle;
  background: note_blue;
}

.teal {
  composes: circle;
  background: note_teal;
}

.green {
  composes: circle;
  background: note_green;
}

.white {
  composes: circle;
  border: 2px solid grey;
  background: white;
}