@value colors "../../../styles/colors.styl";
@value primary from colors;
@value primary--dark from colors;
@value primary--light from colors;

.labelView
  cursor: pointer
  size 100% 45px
  padding 0 15px
  border none
  border-left 3px solid primary--dark
  border-right 3px solid primary--dark
  background primary
  display: inline-block;

.fileUploader
  cursor: pointer
  color: white;
  background-color: red;
  display: inline-block;

  width 0.1px
	height 0.1px
	opacity 0%
  // display none
	overflow hidden
	position absolute
	z-index -1
