@value colors: "../../styles/colors.scss";
@value accent, tertiary, flat_wet_asphalt, note_green, note_red, note_yellow, note_blue, note_grey, note_orange, note_teal from colors;
@value breakPoints: "../../styles/breakPoints.scss";
@value mobile from breakPoints;

.button {
  margin: 0 .125rem;
}

.filters {
  display: flex; 
  @media mobile {
    position: absolute;
    top: 56px;

  }
}

.input {
  height: 32px;
  border: 2px solid accent;
  border-radius: 50px;
  padding: 0 10px;
  width: 170px;
}
.iconWrapper {
  color: accent;
  border: 2px solid accent;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  margin-right: 0.125rem;
  position: relative;
  transition: 150ms ease-in-out;
  text-align: center;
  &:hover {
    color: white;
    background: accent;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  margin: 0px;
  line-height: 32px;
}

.wrapper {
  animation: appear 300ms forwards;
}

@keyframes appear {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.circle {
  border-radius: 50%;
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-right: 0.125rem;
  &:first-child {
    border-color: grey;
  }
  &:hover {
    border: 2px solid flat_wet_asphalt;
  }
}

.chosen {
  composes: circle;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 2px solid black;
  display: block;
}

.red {
  composes: circle;
  background: note_red;
}

.orange {
  composes: circle;
  background: note_orange;
}

.yellow {
  composes: circle;
  background: note_yellow;
}

.grey {
  composes: circle;
  background: note_grey;
}

.blue {
  composes: circle;
  background: note_blue;
}

.teal {
  composes: circle;
  background: note_teal;
}

.green {
  composes: circle;
  background: note_green;
}

.white {
  composes: circle;
  border: 2px solid grey;
  background: white;
}