@value colors: "../../styles/colors.scss";
@value accent, tertiary, flat_wet_asphalt, note_green, note_red, note_yellow, note_blue, note_grey, note_orange, note_teal from colors;
@value breakPoints: "../../styles/breakPoints.scss";
@value mobile, laptop from breakPoints;


.searchWrapper {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 28px;
  background: white;
  @media laptop {
    width: 100%;
  }
}

.button {
  margin: 0 .125rem;
}

.filters {
  display: flex; 
  background: white;
  justify-content: space-around;
  align-items: center;
  @media laptop {
    position: absolute;
    width: 100%;
    top: 44px;
    height: 45px

  }
}

.input {
  height: 32px;
  border: 2px solid accent;
  border-radius: 50px;
  padding: 0 10px;
  margin-right: .5em;
  margin-left: .5em;
  width: 100%;
}
.iconWrapper {
  color: accent;
  border: 2px solid accent;
  width: 32px;
  height: 32px;
  display: block;
  line-height: 32px;
  border-radius: 50%;
  margin-right: 0.5rem;
  position: relative;
  transition: 150ms ease-in-out;
  text-align: center;
  &:hover {
    color: white;
    background: accent;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  margin: 0px;
  line-height: 32px;
}

.wrapper {
  display: flex;
}


.circle {
  border-radius: 50%;
  display: block;
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
  margin-right: 0.125rem;
  &:first-child {
    border-color: grey;
  }
  &:hover {
    border: 2px solid flat_wet_asphalt;
  }
}

.chosen {
  composes: circle;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 2px solid black;
  display: block;
}

.red {
  composes: circle;
  background: note_red;
}

.orange {
  composes: circle;
  background: note_orange;
}

.yellow {
  composes: circle;
  background: note_yellow;
}

.grey {
  composes: circle;
  background: note_grey;
}

.blue {
  composes: circle;
  background: note_blue;
}

.teal {
  composes: circle;
  background: note_teal;
}

.green {
  composes: circle;
  background: note_green;
}

.white {
  composes: circle;
  border: 2px solid grey;
  background: white;
}