@value colors: "../../../styles/colors.scss";
@value note_green, note_red, note_yellow, note_blue, note_grey, note_orange, note_teal from colors;
@value breakPoints: "../../../styles/breakPoints.scss";
@value mobile, extraSmall from breakPoints;

.page {
  background: url('./alex-jodoin-209777min.jpg');
  background-size: cover;
  display: flex;
  background-position: center center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 56px);
  padding: 3.5rem 0;
  // overflow-x: hidden;
  @media mobile {
    padding: 2.75rem 0;
  }
}

.wrapper {
  display: block;
}

.buttons {
  position: absolute;
  bottom: 10%;
}



.heroTitleWrapper {
  z-index: 5;
  display: block;
  position: fixed;
  top: 35%;
  left: 20%;
  // min-width: 400px;
   @media mobile {
    font-size: 3rem;
    top: 40%;
    left: 15%;
  }
}

.heroTitle {
  margin: 0;
  color: white;
  font-family: Amatic SC;
  min-width: 330px;
  font-size: 6rem;
  @media mobile {
    font-size: 3rem;
  }
}

.heroSub {
  max-width: 400px;
  margin: 0;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 25%;
  left: 60%;
  
  @media mobile {
    max-width: 200px;
    font-size: 1rem;
    top: 20%;
    left: 55%;
  }
}

.note {
  width: 240px;
  height: 400px;
  position: absolute;
  @media mobile {
    width: 120px;
    height: 200px;
  }
  @media extraSmall {
    width: 100px;
    height: 180px;
  }
}

.greyNote {
  composes: note;
  background: note_grey;
  top: 5%;
  left: 65%;

}

.blueNote {
  composes: note;
  top: 25%;
  left: 15%;
  background: note_blue;
  @media mobile {
    width: 120px;
    height: 200px;
    left: 10%;
  }
}
