@value colors: "../../../styles/colors.scss";
@value note_green, note_red, note_yellow, note_blue, note_grey, note_orange, note_teal from colors;
@value breakPoints: "../../../styles/breakPoints.scss";
@value mobile, extraSmall from breakPoints;

.page {
  background: url('./alex-jodoin-209777min.jpg');
  background-size: cover;
  display: flex;
  background-position: center center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 56px);
  padding: 3.5rem 0;
  overflow-x: hidden;
  @media mobile {
    padding: 2.75rem 0;
  }
}

.wrapper {
  display: block;
  width: 100%;
  min-height: 600px;
  margin-bottom: 5rem;
  @media mobile {
  //  background: green;
   min-height: 300px;
  }
}

.buttons {
  bottom: 5%;
}

.blueNoteWrapper {
  position: relative;
  width: 450px;
  height: 500px;
  @media mobile {
    width: 225px;
    height: 250px;
  }
}

.blueNotePosition {
  position: absolute;
  left: 20%;
  top: 25%;
  @media mobile {
    left: 5%;
    // top: 5%;
  }
}

.greyNotePosition {
  position: absolute;
  left: 49%;
  top: 5%;
  @media mobile {
    left: 29%;
    top: 5%;
  }
}

.greyNoteWrapper {
  position: relative;
  // background: green;
  width: 450px;
  height: 500px;
  @media mobile {
    width: 225px;
    height: 250px;
  }
}

.heroTitleWrapper {
  z-index: 1;
  display: block;
  position: absolute;
  top: 37%;
  left: 10%;
  min-width: 400px;
   @media mobile {
    font-size: 3rem;
    min-width: 150px;
  }
}

.heroTitle {
  margin: 0;
  color: white;
  font-family: Amatic SC;
  min-width: 300px;
  font-size: 6rem;
  @media mobile {
    min-width: 150px; 
    font-size: 3rem;
  }
}

.heroSub {
  width: 350px;
  margin: 0;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 35%;
  left: 19%;
  @media mobile {
    max-width: 180px;
    font-size: 1rem;
    top: 35%;
    left: 19%;
  }
}

.note {
  width: 240px;
  height: 400px;
  position: absolute;
  @media mobile {
    width: 120px;
    height: 200px;
  }
  @media extraSmall {
    width: 100px;
    height: 180px;
  }
}

.greyNote {
  composes: note;
  background: note_grey;
  right: 0%;

}

.blueNote {
  composes: note;
  top: 0%;
  left: 0%;
  background: note_blue;
}
