@value colors: "../../../styles/colors.scss";
@value note_green, note_red, note_yellow, note_blue, note_grey, note_orange, note_teal from colors;
@value breakPoints: "../../../styles/breakPoints.scss";
@value mobile from breakPoints;

.page {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('./gifs/robot.gif');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: (30%, 50%);
  min-height: calc(100vh - 56px);
  padding: 3.5rem 0;
  @media mobile {
    padding: 2.75rem 0;
  }
}
.wrapper {
  display: block;
}

.heroTitle {
  text-align: center;
  margin: 0 0 2.75rem 0;
  color: white;
  font-family: Amatic SC;
  font-size: 5rem;
  @media mobile {
    font-size: 2rem;
  }
}

.heroSub {
  text-align: center;
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
  color: white;
  font-size: 2rem;
  @media mobile {
    font-size: 1rem;
    margin-bottom: 8%;
  }
}

.note {
  display: flex;
  flex-direction: column;
  width: 125px;
  height: 200px;
  margin:  0 auto 3.75rem auto;
  padding: 20px;
  composes: level-2 from 'styles/shadows.scss';
  animation: colorchange 5s infinite alternate;
  @media mobile {
    width: 100px;
    height: 175px;
  }
}


@keyframes colorchange{
  0%   {background: note_red;}
  12.5%  {background: note_orange;}
  25%  {background: note_yellow;}
  50%  {background: note_green;}
  62.5% {background: note_grey;}
  75% {background: note_teal;}
  100% {background: note_blue;}
  
}

.noteText {
  text-align: center;
  font-size: 1.5rem;
  margin: auto;
  display: block;
  @media mobile {
    font-size: 1rem;
  }
}