@value colors: "../../../styles/colors.scss";
@value accent, secondary from colors;

$mainColor: white;
$pointerSize: 10px;

.popupMenu {
  display: none;
  composes: level-3 from 'styles/shadows.scss';
  color: black;
  z-index: 9;
  position: absolute;
  text-align: center;
  background: $mainColor;
  &::after, ::before {
    content: "";
    border: $pointerSize solid;
    position: absolute;
  }
}

.bottom {
  composes: popupMenu;
  transform: translateX(-50%);
  top: calc(100% + #{$pointerSize});
  left: 50%;
  &::after, ::before {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent $mainColor transparent;
  }
}

.topRight {
  composes: popupMenu;
  transform: translateX(-14%);
  bottom: calc(100% + #{$pointerSize});
  left: 50%;
  &::after, ::before {
    top: 100%;
    left: 14%;
    transform: translateX(-50%);
    border-color: $mainColor transparent transparent transparent;
  }
}

.top {
  composes: popupMenu;
  transform: translateX(-50%);
  bottom: calc(100% + #{$pointerSize});
  left: 50%;
  &::after, ::before {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-color: $mainColor transparent transparent transparent;
  }
}

.right {
  composes: popupMenu;
  transform: translateY(-50%);
  left: calc(100% + #{$pointerSize});
  top: 50%;
  &::after, ::before {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-color: transparent $mainColor transparent transparent;
  }
}

.left {
  composes: popupMenu;
  transform: translateY(-50%);
  right: calc(100% + #{$pointerSize});
  top: 50%;
  &::after, ::before {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-color: transparent transparent transparent $mainColor;
  }
}
