@value colors "../../../styles/colors.styl";
@value accent from colors;

.popupMenu
  display none
  composes fancy-shadow from 'styles/shadows.styl'
  padding 10px 0
  color black
  z-index 2

.list
  padding 0
  margin 0

.item
  display block
  padding 12px 15px
  white-space nowrap
  border-left 3px solid transparent
  border-right 3px solid transparent
  cursor pointer
  &:hover
    color accent
    border-left 3px solid accent
    border-right 3px solid accent
    .item__link
      color accent

.item__link
  color black
