@import '../../styles/index.styl'

.topBar
  background white
  padding 0 5%
  position fixed
  size 100% 55px
  z-index 2
  // +tablet()
  //   padding 0%
  //   .nav-bar
  //     width 100%
  //     justify-content space-between
  //   .nav-bar__hamburger-button
  //     display block
  //   .profile, .nav-bar__notifications, .top-bar__app-logo
  //     display none

.logo
  color color__accent
  composes logo from 'styles/typography.styl'
