@value colors: "../../../styles/colors.scss";
@value tertiary from colors;

.card {
  composes: formCard from 'styles/cards.scss';
  margin-bottom: 3.5rem;
}

.page {
  padding: 3.5rem 0;
  // @media mobile {
  //   padding: 2.75rem 0;
  // }
}

.link {
  margin-top: 75px;
  display: block;
  text-align: center;
  color: tertiary;
}
