.card {
  composes: infoCard from 'styles/cards.scss';
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.avatar {
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
