@value colors: "../../styles/colors.scss";
@value accent from colors;

.tagArea {
  margin-bottom: 10px;
  padding-top: 5px;
  text-align: left;
  font-size: 0.8rem;
}

.input {
  position: relative;
  margin: 0 5px 5px 0;
  display: inline-block;
}

.input__field {
  padding: 5px;
  width: 10px;
  min-width: 50px;
  outline: none;
  background: transparent;
  cursor: pointer;
    background: rgba(0,0,0,0.1);
    &::after {
      content: "+ tag";
      color: white;
    }
  &:focus {
    + .suggestionsMenu {
      display: block;
    }
    &::after {
      display: none;
    }
  }
}

.suggestion {
  display: block;
  min-width: 75px;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  &:hover {
    border-left: 3px solid accent;
    border-right: 3px solid accent;
    color: accent;
  }
}
