.tagArea
  margin-bottom: 10px
  padding-top 5px
  text-align left
  font-size 0.8rem

.input
  position relative
  margin 0 5px 5px 0
  display inline-block


.input__field
  padding 5px
  min-width 50px
  outline none
  background transparent
  &:focus
    + .input__suggestions
      display block

.input__suggestions
  display none
