@value colors: "../../styles/colors.scss";
@value tertiary from colors;

.card {
  composes: formCard from 'styles/cards.scss';
  background: rgba(white, 0.6);
}

.link {
  margin-top: 75px;
  display: block;
  text-align: center;
  color: tertiary;
}